.container {
  color: white;
  width: 78vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #141414;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}
.poster {
  width: 78vw;
  display: block;
  object-fit: cover;
  border-radius: 3px;
  margin: 5px auto;
  overflow-x: hidden;
}
.wishlist {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.2px;
  color: #f2f2f2;
  background: #e41a24;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92%;
  border: none;
  padding: 10px 0;
  margin: 5px 4% 2rem 4%;
  border-radius: 6px;
}
.wishlist span {
  margin-right: 5px;
}
.wishlist:focus,
.wishlist:hover {
  background: #be0811;
}

.details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
  gap: 10px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__extra {
  display: flex;
}
.about__extra > p {
  margin-right: 10px;
  flex-shrink: 0;
}
.title {
  font-size: 1.8rem;
  letter-spacing: 1.3px;
  width: 20rem;
  text-align: start;
  margin-bottom: 1.3rem;
}
.rating {
  color: rgb(236, 220, 220);
  background-color: #027716;
  padding: 3px 8px 1px 5px;
  border-radius: 5px;
}
.summary {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 35em;
  line-height: 1.2;
  margin-top: 0;
}
.crew {
  margin-top: 1.2em;
  max-width: 20rem;
}
.crew > h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}
.crew span {
  color: grey;
}

.load {
  display: inline-block;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px 6px 4px 6px;
  margin: 0.5rem 48%;
  cursor: pointer;
  position: relative;
}
.load:hover{
  background: hsla(0, 0%, 100%, 0.2);
  border-color: rgb(255, 255, 255)
}
.load::after{
  content:"load more details";
  color:white;
  position: absolute;
  font-size: 0.9rem;
  top:30px;
  left:46px;
  width:120px;
  border-radius: 3px;
  padding:3px;
  background: hsla(0, 0%, 30%,0.8);
  opacity:0;
  transition: opacity 250ms ease;
  will-change: opacity;
}
.load:hover::after{
  opacity:1;
}

.error{
  font-size: 1.8rem;
  color:hsl(0, 0%, 98%);
  margin-top: 8rem;
  padding-top: 50px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 930px) {
  .details {
    flex-direction: column;
  }
  .summary {
    max-width: 96%;
  }
  .crew {
    max-width: 100%;
  }
  .crew > h4 {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    width: 89vw;
    margin: 0;
    padding: 0;
  }
  .poster {
    width: 100%;
    height:40%;
    object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin:0;
  }
  .poster {
    width: 100%;
  }
  .wishlist {
    padding: 7px 0;
  }
  .details {
    flex-direction: column;
    width: 85%;
  }
  .about {
    flex-direction: column;
    align-items: start;
  }
  .about__extra {
    margin-bottom: 16px;
  }
  .about__extra > p {
    margin: 5px 14px 5px 0;
  }
  .title {
    font-size:1.4rem;
    width: 100%;
    margin-bottom: 0.3rem;
  }
  .summary {
    font-size: 1rem;
    font-weight: 400;
    max-width: 100%;
  }
  .crew,
  .crew > h4 {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }
  .load {
    margin: 0.5rem 45%;
  }
  .load:hover::after{
    opacity:0;
  }
  
  .error{
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 425px) {
  .poster {
    width: 100%;
  }
}
