.browse {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    padding: 30px;
    margin-top:6rem;
  }
  @media screen and (max-width: 480px) {
    .browse {
      padding-left: 5px;
    }
  }
  