header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 105px;
  padding-left: 40px;
  text-shadow: 2px 2px 4px rgba(20, 20, 20, 0.7);
}
.heading {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  position: relative;
  z-index: 5;
  text-align: start;
  padding-left: 40px;
  padding-right: 15px;
}
.genre {
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 1px 8px;
  height: 2.1rem;
  border-radius: 5px;
}
@media screen and (max-width: 900px) {
  .heading {
    font-size: 1.7rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 480px) {
  header {
    padding-top: 110px;
    padding-left: 20px;
  }
  .heading {
    font-size: 1.5rem;
    padding-left: 10px;
  }
  .genre {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
}
