.nav {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  height: 70px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.primary__nav {
  display: flex;
  align-items: center;
}
.secondary__nav {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.navprofile {
  position: relative;
}
.navprofile img {
  display: inline-block;
  height: 2.5rem;
  margin: 0 13px 0 8px;
  border-radius: 3px;
}
.navprofile svg {
  cursor: pointer;
  transition: all 300ms ease;
  margin-bottom: 10px;
}
.navprofile__active svg {
  transform: rotate(180deg);
}
.signout__button {
  position: absolute;
  right: 0;
  top: 110%;
  z-index: 15;
  height: 2.5rem;
  width: 8.5rem;
  background: hsla(0, 0%, 0%, 0.7);
  border: 1px solid hsl(240, 1%, 39%);
  border-radius: 5px;
}
.signout__button a {
  font-size: 1rem;
  letter-spacing: 1.3px;
  color: white;
}

.nav__fixed {
  background: hsla(0, 0%, 7%, 0.8);
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  height: 4.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 30;
}
.logo {
  color: #e50914;
  height: 3rem;
  padding-left: 3vw;
  padding-right: 5vw;
}
a {
  text-decoration: none;
}

a h2 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  padding-right: 15px;
  cursor: pointer;
}

a.active h2 {
  font-weight: 700;
}

.search {
  /* margin-top: 1.6rem; */
  padding-right: 12px;
}

@media screen and (max-width: 900px) {
  .navprofile img {
    height: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    height: 4rem;
    padding: 5px 20px 0 25px;
  }
  .secondary__nav {
    margin-right: 10px;
  }
  .navprofile img {
    margin-right: 6px;
  }
}
@media only screen and (max-width: 480px) {
  a h2{
    padding-right: 5px;
  }
  .logo{
    padding-right: 10px;
  }
  .signout__button {
    top: 100%;
    height: 2rem;
    width: 6.5rem;
  }
  .navprofile img{
    height:1.9rem;
  }
}
@media only screen and (max-width: 425px) {
  .logo {
    height: 2.7rem;
    padding: 5px 10px 0 10px;
  }
  a h2{
    font-size: 1.1rem;
  }
  .primary__nav{
    padding-left: 10px;
  }
}
