.banner {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.banner img {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 3rem;
  font-weight: 900;
  padding-top: 3.5vw;
  padding-left: 30px;
  text-shadow: 2px 2px 4px rgba(20, 20, 20, 0.7);
}
.summary {
  color: rgb(255, 255, 255);
  position: relative;
  max-width: 35em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 2rem;
  text-shadow: 2px 2px 4px rgba(20, 20, 20, 0.7);
}

.btn {
  padding: 14px 60px;
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-right: 0.4rem;
  margin-bottom: calc(4rem + 40px);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
button span {
  margin-right: 5px;
}
.btn:hover,
.btn:focus {
  color: white;
  background: #be0811;
}
.btn-primary {
  color: #f2f2f2;
  background-color: #e50914;
}
.btn-secondary {
  color: white;
  background-color: #3c2d2e;
  padding: 13px 15px;
  margin-left: 0;
}

.shadow {
  position: absolute;
  z-index: -1;
  bottom: -7%;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(14, 14, 14, 0.6),
    #080808
  );
}
