.list {
  display: flex;
  flex-wrap: wrap;
  padding-left: max(100px,10vw);
  padding-top: 0.5rem;
}
.movie {
  position: relative;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  color: #f2f2f2;
}
.header {
  text-align: start;
  margin-top: 70px;
  padding-left: 80px;
}

.empty-list{
  margin-top: 8rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.empty-list h3{
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}
.empty-list h4{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 2;
}
.empty-list a{
  color:hsl(31, 96%, 49%);
  text-transform: uppercase;
  padding: 6px 20px;
  margin-left: 15px;
  border-radius: 5px;
  border:1px solid hsl(31, 96%, 49%);
  background-color: hsla(31, 96%, 49%,0.1);
  transition: all 200ms ease-in;
}
.empty-list a:hover{
  color:rgb(31, 28, 26);
  border:1px solid hsla(31, 96%, 79%,0.1);
  background-color: hsl(31, 96%, 49%);
}

@media screen and (max-width: 480px) {
  .header {
    padding-left: 30px;
  }
  h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  .list {
    padding-left: min(100px, 10vw);
  }
  .empty-list h3{
    font-size: 1.5rem;
  }
  .empty-list h4{
    font-size: 1.6rem;
  }

}
