.container {
  font-family: "Roboto", sans-serif;
  color: white;
  width: 67%;
  max-height: 90vh;
  overflow-y: scroll;
  background: #141414;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 10;
  margin: 3rem auto 1rem auto;
}
.poster {
  width: 100%;
  height: 30rem;
  display: block;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.close-button {
  background: #3c2d2e9c;
  border-radius: 50%;
  border: 1px solid white;
  padding: 8px 10px;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}
.close-button:hover {
  background: #c7bebf88;
}
.wishlist {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.2px;
  color: #f2f2f2;
  background: #e41a24;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92%;
  border: none;
  padding: 10px 0;
  margin: 5px 4%;
  border-radius: 6px;
}
.wishlist span {
  margin-right: 5px;
}
.wishlist:focus,
.wishlist:hover {
  background: #be0811;
}

.details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
  gap: 10px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__extra {
  display: flex;
}
.about__extra > p {
  margin-right: 10px;
  flex-shrink: 0;
}
.title {
  font-size: 1.8rem;
  letter-spacing: 1.3px;
  width: 20rem;
  text-align: start;
  margin-bottom: 1.3rem;
}
.rating {
  color: rgb(236, 220, 220);
  background-color: #027716;
  padding: 3px 8px 1px 5px;
  border-radius: 5px;
}
.summary {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 35em;
  line-height: 1.2;
  margin-top: 0;
}
.crew {
  margin-top: 1.2em;
  max-width: 20rem;
}
.crew > h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}
.crew span {
  color: grey;
}

.load {
  display: inline-block;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px 6px 4px 6px;
  margin: 0.5rem 48%;
  cursor: pointer;
}
.load:hover,
.load:focus {
  background: #c7bebf88;
  border-color: #c7bebf88;
}

@media screen and (max-width: 480px) {
  .container {
    width: 87%;
  }
  .poster {
    width: 100%;
    height: 15rem;
  }
  .wishlist {
    padding: 7px 0;
  }
  .details {
    flex-direction: column;
    width: 100%;
  }
  .about {
    flex-direction: column;
    align-items: start;
  }
  .about__extra {
    margin-bottom: 16px;
  }
  .about__extra > p {
    margin: 5px 14px 5px 0;
  }
  .title {
    width: 100%;
    margin-bottom: 0.3rem;
  }
  .summary {
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 85%;
  }
  .crew,
  .crew > h4 {
    margin-top: 0;
    margin-left:0;
    width:100%;
  }
  .load{
  margin: 0.5rem 45%;
  }
}
