::-webkit-scrollbar {
  width: 0px;
}
.genre {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.3rem;
  padding-left: 30px;
  padding-right:10px;
  padding-bottom: 0px;
  margin: 0;
  margin-top: -40px;
  display: inline-block;
}
.link{
  font-family: "Roboto", sans-serif;
  color:white;
  font-size:0.85rem;
  font-style: italic;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.browse {
  display: flex;
  overflow-x: scroll;
  padding-right: 0;
  padding: 30px;
  margin-bottom:10px;
}

@media screen and (max-width: 480px){
  .genre{
    margin-top: 0;
  }
  .browse{
    padding:10px;
  }
}