.header {
  text-align: start;
  margin-top: 70px;
  padding-left: 80px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  color: #f2f2f2;
}
.movie{
  position: relative;
}
.genre {
  display: flex;
  flex-wrap: wrap;
  padding-left: min(100px,10vw);
  padding-top: 1rem;
}
.genre>*{
  margin:20px 10px 10px 0;
}
@media screen and (max-width: 480px) {
  .header {
    text-align: start;
    margin-top: 70px;
    padding-left: 30px;
    margin-bottom: 0;
  }
  h2{
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
}
