.wrapper {
  position: relative;
  width: 100%;
}
.password {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: 85%;
  height: 2.8rem;
  border: 1px solid hsla(0, 0%, 9%, 0.74);
  background-color: hsla(0, 0%, 9%, 0.74);
  color: hsl(0, 0%, 94%);
  margin: 0.3rem auto;
  border-radius: 5px;
}
.password:focus,
.password:hover {
  background-color: hsl(240, 1%, 39%);
}
.password::placeholder {
  color: hsl(240, 1%, 60%);
}

.eye {
  position: absolute;
  right: 10%;
  top: 38%;
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border:none;
}
.invalid {
  border-bottom: 1.5px solid hsl(31, 96%, 49%);
}
