.error{
  font-size: 1.8rem;
  color:hsl(0, 0%, 98%);
  margin-top: 6rem;
  padding-top: 50px;
  font-weight: 500;
  text-align: center;
}
.movie{
  position: relative;
}
.browse {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: min(50px,2.5vw);
  margin-top: 2rem;
}
.browse > * {
    margin:20px 5px 10px 0;
  }

.title{
  display: inline-block;
  color:white;
  font-size: 1.7rem;
  margin-top: 3.5rem;
  margin-top: 70px;
  padding-top: 20px;
  padding-left: min(100px, 10vw);
  padding-left: 80px;
  font-weight: 400;
  transform: skew(-20deg, 0);
}
.query{
  display: inline-block;
  margin-left: 15px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2.1rem;
  color:hsl(31, 96%, 49%);
}
@media screen and (max-width: 860px) {
  .browse {
    padding-left: min(50px,6vw);
  }
}
@media screen and (max-width: 768px) {
  .browse {
    padding-left: min(50px,5vw);
  }
}
@media screen and (max-width: 650px) {
  .browse {
    padding-left: min(60px,8vw);
  }
}
@media screen and (max-width: 480px) {
  .error{
    font-size: 1.4rem;
  }
  /* .browse {
    margin-top: 1rem;
  }
  .browse > * {
    margin: 0;
  } */
  .title{
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding-left: 30px;
  }
  .query{
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}
