.banner {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.banner__image {
  position: inherit;
}
.banner__image::after {
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:-1;
}

.title {
  color: rgb(255, 255, 255);
  position: relative;
  font-size: min(7vw, 3rem);
  font-weight: 900;
  padding-top: 8vh;
  padding-left: 30px;
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(20, 20, 20, 0.7);
}
.summary {
  color: rgb(255, 255, 255);
  position: relative;
  max-width: 35em;
  font-size: max(1.5vw, 0.9rem);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 2rem;
  text-shadow: 2px 2px 4px rgba(20, 20, 20, 0.7);
}

.btn {
  padding: 14px 30px;
  width:10em;
  font-size: 1.1rem;
  font-weight: 700;
  margin:0 0.4rem 3.5rem 4vw;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:10;
}
.btn:disabled{
  cursor: not-allowed;
  background: hsl(357, 92%, 29%);
}
.btn:disabled:hover{
  background: hsl(357, 92%, 29%);
}
button span {
  margin-right: 6px;
}
.btn-primary:hover,
.btn-primary:focus {
  color: white;
  background: #be0811;
}
.btn-primary {
  color: #f2f2f2;
  background-color: #e50914;
}
.btn-secondary {
  color: #f2f2f2;
  background-color: rgba(37, 40, 42, 0.7);
  padding: 11px 30px;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: white;
  background-color: rgba(69, 70, 71, 0.8);
}
.actions {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .btn {
    padding: 12px 10px;
    margin-bottom: 3rem;
    margin-right: 2px;
    margin-left: 2px;
  }
  .btn-primary {
    margin-left: 10vw;
    margin-right: 15px;
    padding-top: 17px;
  }
}
@media screen and (max-width: 480px) {
  .banner img {
    height: 90vh;
  }
  .banner__image::after {
    height: 90vh;
  }
  .title {
    text-align: center;
    font-size: 2rem;
    padding-top: 5vh;
    margin-bottom: 0.2rem;
  }
  .summary {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.1;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(20, 20, 20, 0.7);
  }
  .btn {
    padding: 12px 10px;
    width:9.5em;
    font-size: 1rem;
    margin-bottom: 3rem;
    margin-right: 2px;
    margin-left: 2px;
  }
  .btn-primary {
    margin-left: 15vw;
    margin-right: 15px;
    padding-top: 17px;
  }
}
@media screen and (max-width: 425px) {
  .banner img,.banner__image::after {
    height: 95vh;
  }
  .btn-primary{
    margin-left: 10vw;
  }
  .title {
    padding-top: 18.5vh;
    text-align: center;
    margin-left: 0;
  }
}