.backdrop{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    z-index:30;
    background-color: hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
    overflow-y: hidden;
}
.overlay{
    position: absolute;
    top:1vw;
    left:10vw;
    width:78vw;
    height:95%;
    z-index:35;
    overflow-y:scroll;
}

.close-button {
  background-color: hsla(0, 5%, 24%, 0.4);
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
  padding: 8px 10px;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 37;
  cursor: pointer;
  will-change:background-color;
  transition: all 200ms ease;
}
.close-button:hover svg path {
  fill:hsl(0, 0%, 0%);
}
.close-button:hover,
.close-button:focus{
  background-color: hsl(0, 0%, 95%);
}
@media screen and (max-width: 768px) {
  .overlay {
    width: 89vw;
    /* overflow-x: hidden; */
    left:5vw;
    right:5vw;
    height:100%;
    display: block;
  }
}
@media screen and (max-width: 480px){
  .overlay{
    left:1vw;
    right:1vw;
    width:98vw;
    padding-left: 2px;
    margin-left: 0;
  }
}